- f ||= local_assigns[:locals][:f]
%div{:id => f.object.id.to_s}
  = f.input :name
  = f.input :description
  = f.hidden_field :remote_type, {:value => "Youtube"}
  = f.input :remote_id, :label => "Youtube ID"
  = render "shared/prioritizable_fields", :locals => {:f => f}
