<div class='center'>
  <%= "<h3>#{video.name}</h3>" unless video.name.blank? %>
  <object width="520" height="390" align="c">
    <param name="movie" value="<%= video.url %>" />
    <param name="allowFullScreen" value="true" />
    <param name="allowscriptaccess" value="always" />
    <embed src="<%= video.url %>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="520" height="390"></embed>
  </object>
  <%= "<p>By: #{video.description}</p>" unless video.description.blank? %>
  <% if admin_signed_in? %>
    <p class='asset-admin'>
      <%= link_to "Remove Video", video, :confirm => 'Are you sure?', :method => :delete %>
      <%= link_to "Edit Video", edit_video_path(video), :rel=>"#overlay", :class => "overlayed"  %>
    </p>
  <% end %>
</div>