<div id='gallery' class='clearfix corner-all box_shadow'>
  <div id="gallery_wrap" class='clearfix'>
    <a class="<%= 'no_back ' unless (objs.size > 1) %>backward browse left"></a>
    <div id="gallery_wrap_inner" class="left"></div>
    <a class="<%= 'no_back ' unless (objs.size > 1) %>forward browse right"></a>
  </div>
  <div class="scroll_nav">
    <a class="<%= 'no_back ' unless (objs.size > 4) %>prev browse left"></a>

    <div class="scrollable corner-all nav">
      <div class="items ajax-nav">
        <% objs.each_with_index do |obj, index| %>
          <%= '<div>' if index%4 == 0 %>
          <%= link_to image_tag(obj.thumb, :alt => obj.name), obj, :id => obj.id, :class => "button#{' current' if obj.id == objs.first.id}" %>
          <%= '</div>' if (index%4 == 3 || index == objs.size-1) %>
        <% end %>
      </div>
    </div>
    <a class="<%= 'no_back ' unless (objs.size > 4) %>next browse right"></a>
  </div>
</div>
