= simple_form_for @contact, :html => {:novalidate => true} do |f|
  = f.input :name, :label => "What's your name?"
  = f.input :email, :label =>  "and email address?"
  = f.input :message, :label => "Your message.", :input_html => { :cols => 48, :rows => 5, :class => "clearfix" }
  = f.button :submit, "Send Message" 