<% title "Contact" %>

<p>
  <strong>Name:</strong>
  <%=h @contact.name %>
</p>
<p>
  <strong>From:</strong>
  <%=h @contact.from %>
</p>
<p>
  <strong>Arrival Date:</strong>
  <%=h @contact.arrival_date %>
</p>
<p>
  <strong>Departure Date:</strong>
  <%=h @contact.departure_date %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @contact.email %>
</p>
<p>
  <strong>Message:</strong>
  <%=h @contact.message %>
</p>

<p>
  <%= link_to "Edit", edit_contact_path(@contact) %> |
  <%= link_to "Destroy", @contact, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", contacts_path %>
</p>
