%h2 Sign in
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:novalidate => true}) do |f|
  = f.input :username, :required => true
  = f.input :password, :required => true
  - if devise_mapping.rememberable?
    = f.input :remember_me, :as => :boolean
  = f.button :submit, "Sign in"
= render :partial => "devise/shared/links"
