<% f ||= local_assigns[:locals][:f] %>
<% index ||= f.object %>
<% seo ||= (local_assigns[:locals][:seo] rescue true)%>
<% side ||= (local_assigns[:locals][:side] rescue true)%>
<% gallery ||= (local_assigns[:locals][:gallery] rescue true)%>
<p>
  <%= index.name %>
</p>

<h4>Content Sections</h4>
<div class='pane clearfix'>
  <%= f.fields_for :content_sections, index.content_sections do |section_form| %>
    <%= render "sections/form", :locals => {:f => section_form, :alignment => true} %>
  <% end %>
  <p><%= link_to_add_nested('Add Section', f, :content_sections, 'sections') %></p>
</div>

<% if seo %>
  <h4>Search Engine Info</h4>
  <div class='pane clearfix'>
    <p>
      <%= f.label :page_title %><br />
      <%= f.text_field :page_title %>
    </p>
    <p>
      <%= f.label :keywords %><br />
      <%= f.text_area :keywords, :rows => 5 %>
    </p>
    <p>
      <%= f.label :page_description %><br />
      <%= f.text_area :page_description, :rows => 10 %>
    </p>
</div>
<% end %>

<% if side %>
  <h4>Side Bar Section</h4>
  <% if index.side_section.nil? %>
    <p><%= link_to_add_nested('Add Side Section', f, :side_section, 'sections', false, true) %></p>
  <% else %>
    <div class='pane clearfix'>
      <%= f.fields_for :side_section, index.side_section do |section_form| %>
        <%= render "sections/form", :locals => {:f => section_form} %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if side %>
  <h4>Gallery</h4>
  <% if index.gallery.nil? %>
    <p><%= link_to_add_nested('Add Gallery', f, :gallery, 'galleries', false, true) %></p>
  <% else %>
    <div class='pane clearfix'>
      <%= f.fields_for :gallery, index.gallery do |section_form| %>
        <%= render "galleries/form", :locals => {:f => section_form} %>
      <% end %>
    </div>
  <% end %>
<% end %>
