<% render_seo @index %>

<div class='clearfix'><%= render :partial => 'shared/asset_show', :collection => @index.assets, :as => :asset %></div>
<% if admin_signed_in? %>
  <div>
    <p class="asset-admin">
      <%= link_to "Add Text", new_index_text_path(@index.id), :rel=>"#overlay", :class => "overlayed" %>
      <%= link_to "Add Photo", new_index_photo_path(@index.id), :rel=>"#overlay", :class => "overlayed" %>
      <%= link_to "Add Video", new_index_video_path(@index.id), :rel=>"#overlay", :class => "overlayed" %>
      <%= link_to "Add Downloadable File", new_index_downloadable_path(@index.id), :rel=>"#overlay", :class => "overlayed" %>
    </p>
  </div>
<% end %>

<% unless @index.gallery.nil? %>
  <% content_for :post_content do %>
    <div class="content corner-all box-shadow">
      <%= render :partial => "shared/gallery", :locals => {:objs => @index.gallery.assets} %>
    </div>
  <% end %>
<% end %>