<% title "Indices" %>

<table>
  <tr>
    <th>Name</th>
    <th>Page Title</th>
    <th>Keywords</th>
    <th>Page Description</th>
  </tr>
  <% for index in @indices %>
    <tr>
      <td><%=h index.name %></td>
      <td><%=h index.page_title %></td>
      <td><%=h index.keywords %></td>
      <td><%=h index.page_description %></td>
      <td><%= link_to "Show", index %></td>
      <td><%= link_to "Edit", edit_index_path(index) %></td>
      <td><%= link_to "Destroy", index, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Index", new_index_path %></p>
