- title "New Index"
= form_for @index, :html => { :multipart => true }  do |f|
  %p= f.submit
  = render :partial => 'form', :locals => {:f => f, :index => @index}
  %p= f.submit
%p= link_to "Back to List", indices_path
