<% alignment ||= local_assigns[:locals][:alignment] %>
<% f ||= local_assigns[:locals][:f] %>
<div id='<%= f.object.id.to_s %>'>
  <% if f.object.asset_file_name %>
    <%= image_tag f.object.asset.url(:thumb), :width => "100" %>
  <% end %>
  <p>
    <%= f.label :name, "Photo Title" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Photo" %><br />
    <%= f.file_field :asset, :required => (f.object.asset_file_name.blank? ? true : false) %>
  </p>

  <p>
    <%= f.label :description, "Photo Description" %><br />
    <%= f.text_area :description, :size => "70x3" %>
  </p>
  <p>
    <%= f.label :klass, "Alignment" %><br />
    <%= f.radio_button :klass, 'left' %>  Left
    <%= f.radio_button :klass, 'center', :checked => true %>  Center
    <%= f.radio_button :klass, 'right' %>  Right
  </p>
  <%= render "shared/prioritizable_fields", :locals => {:f => f} %>
</div>
