<div class="<%=photo.klass%>">
  <%= link_to image_tag(photo.asset.url(photo.which?), :alt => photo.name, :class => "tooltipped button"), photo, :rel=>"#overlay", :class => "overlayed" %>
  <span class='tooltip'>
    <em></em>
    <h3><%= photo.name.titleize %></h3>
    <p><%= photo.description %></p>
  </span>
  <% if admin_signed_in? %>
    <p class='asset-admin'>
      <%= link_to "Remove Photo", photo, :confirm => 'Are you sure?', :method => :delete %>
      <%= link_to "Edit Photo", edit_photo_path(photo), :rel=>"#overlay", :class => "overlayed"  %>
    </p>
  <% end %>
</div>
