%div{:class => "#{photo.klass} asset"}
  = link_to photo, :rel=>"#overlay", :class => "overlayed" do
    = image_tag(photo.asset.url(photo.which?), :alt => photo.name, :class => "tooltipped button")
  - if admin_signed_in?
    %p.asset-admin
      = link_to "Remove Photo", photo, :confirm => 'Are you sure?', :method => :delete
      = link_to "Edit Photo", edit_photo_path(photo), :rel=>"#overlay", :class => "overlayed"
