- f ||= local_assigns[:locals][:f]
.nested_fields
  .nested_fields
    %p
      = f.label "Gallery Title"
      %br/
      = f.text_field :title
  .nested_fields
    %h4 Gallery Photos
    #photos
      = f.fields_for :photos do |photo_form|
      = render "photos/form", :locals => {:f => photo_form}
      %p= link_to_add_nested('Add Photo', f, :photos, 'photos')
  .nested_fields
    %h4 Gallery Videos
    #videos
      = f.fields_for :videos do |video_form|
      = render "videos/form", :locals => {:f => video_form}
      %p= link_to_add_nested('Add Video', f, :videos, 'videos')
  - unless f.object.new_record?
  = f.hidden_field :_destroy
  %p= link_to_function "Remove Gallery", "remove_fields(this)", :class => "remove"
