- title "Edit Gallery"
= simple_form_for @gallery, :validate => true, :html => { :multipart => true } do |f|
  = f.error_messages
  = f.button :submit
  = render :partial => 'form'
  = f.button :submit
%p
  = link_to "Show", @gallery
  |
  \#{link_to "View All", galleries_path}
