- title "Edit Gallery"
= form_for @gallery, :html => { :multipart => true } do |f|
  = f.error_messages
  %p= f.submit
  = render :partial => 'form'
  %p= f.submit
%p
  = link_to "Show", @gallery
  |
  \#{link_to "View All", galleries_path}
