%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title=yield(:title)
    %meta{:name => 'description', :content => yield(:description)}
    %meta{:name => 'keywords', :content => yield(:keywords)}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = yield(:head)
  %body
    #container
      #main_container
        #header
          =render 'application/header'
        = render 'application/nav'
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        .content.clearfix
          #sidebar
            = yield(:sidebar)
          #main
            = yield
            = yield(:post_content)
        = render 'application/footer'
      #overlay.overlay
        .contentWrap
