%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title=yield(:title) || APP_CONFIG[:app_name]
    %meta{:name => 'description', :content => "#{(yield(:description) || APP_CONFIG[:app_name])}"}
    %meta{:name => 'keywords', :content => "#{(yield(:keywords) || APP_CONFIG[:app_name])}"}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = yield(:head)
  %body
    #header
      .inner
        =render 'application/header'
    #container
      =render :template => "layouts/#{APP_CONFIG[:nav_style] rescue 'bar'}_nav.html.haml"
      #overlay.overlay
        .contentWrap
