#main_container
  #header
    =render 'application/header'
  = render 'application/nav'
  .content.clearfix
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    = yield
  = render 'application/footer'

