%html
  %head
    %title=yield(:title) || APP_CONFIG[:app_name]
    %meta{:name => 'description', :content => "#{(yield(:description) || APP_CONFIG[:app_name])}"}
    %meta{:name => 'keywords', :content => "#{(yield(:keywords) || APP_CONFIG[:app_name])}"}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = yield(:head)
  %body
    #container
      #header
        =render 'application/header'
        #user-navigation
          %ul.wat-cf
            %li= link_to "Profile", "#"
            %li= link_to "Settings", "#"
        #main-navigation
          %ul.wat-cf
            = render 'application/nav'
      #wrapper.wat-cf
        .flash
          - if flash[:alert]
            .message.error
              %p= flash[:alert]
          - if flash[:notice]
            .message.notice
              %p= flash[:notice]


        #main
          = yield
          #footer
            = render 'application/footer'
        #sidebar
          = yield :sidebar
  #overlay.overlay
    .contentWrap
      
